<a href="https://colab.research.google.com/github/feniltailor22/Data-Structure-and-Algorithms/blob/main/Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the sum of first n natural number using recursion:

In [78]:
def sum(n):
  if n==1:
    return 1
  else:
    return (n+ sum(n-1))

In [79]:
x=sum(5)
x

15

Find the sum of first n natural number without recursion:

In [80]:
def sum(n):
  print((n*(n+1))/2)

In [82]:
y=sum(7)

28.0

Finding factorial using while loop:

In [155]:
def fac(n):
  i=1
  fact=1
  while i<=n:
    fact= fact*i
    i+=1 
  return fact

In [156]:
z=fac(5)
z

120

Finding factorial using for loop:

In [161]:
def fac(n):
  ans=1
  for i in range(1,n+1):
    ans= ans*i
  print(ans)

In [164]:
k= fac(10)
k

3628800

Finding factorial using recursion:

In [179]:
def fac(n):
  if n==1:
    return 1
  return (n* fac(n-1))
  i-=1

In [180]:
f= fac(5)
f

120