<a href="https://colab.research.google.com/github/feniltailor22/Data-Structure-and-Algorithms/blob/main/Single_Number_in_an_Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#Given a non-empty array of integers nums, every element appears twice except for one. Find that single one.

#You must implement a solution with a linear runtime complexity and use only constant extra space.

###Use of XOR
####Truth Table
0 0: 0
---
0 1: 1
---
1 0: 1
---
1 1: 0
---

In [19]:
1^2^2^3^1

3

In [20]:
##Process
#(1^1=0)
#(0^2=2)
#(2^2=0)
#(0^3=3)

In [22]:
class Solution:
    def singleNumber(self, nums):
        ans=0
        for i in nums:
            ans^=i  #ans= ans^i
        return ans

In [23]:
s=Solution()

In [24]:
A=[1,1,2,2,3,4,4]

In [25]:
s.singleNumber(A)

3

In [26]:
##Process
# ans=0 and i=1:
# 0^1=1. Hence ans=1
# ans=1 and i=1:
# 1^1=0. Hence ans=0
# ans=0 and i=2:
# 0^2=1. Hence ans=2
# ans=2 and i=2:
# 2^2=0. Hence ans=0
# ans=0 and i=4:
# 0^4=4. Hence ans=4
# ans=4 and i=4:
# 4^4=0. Hence ans=0
# ans=0 and i=3:
# 0^3=1. Hence ans=3